
div.reason{
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: 1s, ease-in-out;  
}

div.reason:hover{
    transform: scale(1.25);
}

div.rason p{
    text-align: justify;
}

div.reasonContainer{
    overflow: hidden;
}

div.reason p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.reason .bgContainer{
    background-color: rgba(50, 50, 50, 0.5);
    height: 100vh;
}

div.descriptionWhy{
    font-size: 20px;
    margin:30px auto;
}