.rock{
    text-transform: uppercase !important;
    font-weight: bold !important;
    color:white !important;
}

div.sliderImage{
    max-height: 85vh;
    overflow: hidden;
}

p.sliderTitle1{
    font-size: 18px;
}

p.sliderTitle2{
font-size: 15px;
}

@media (min-width:600px){
    p.sliderTitle1{
        font-size: 40px;
    }
    
    p.sliderTitle2{
    font-size: 25px;
    }
}

@media (min-width:1000px){
    p.sliderTitle1{
        font-size: 80px;
    }
    
    p.sliderTitle2{
    font-size: 45px;
    }
}

@media (min-width:1300px){
    p.sliderTitle1{
        font-size: 120px;
    }
    
    p.sliderTitle2{
    font-size: 65px;
    }
}