*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proza Libre', sans-serif;
}

body{
    background-color: black;
    color:white;
    margin: 0;
}

nav{
    text-decoration: none;
}