  div.iconsC{ 
      padding: 30px;
   background-color: black;
  
 } 

div.iconC i{ 
    margin:auto 15px ;

}
iframe{
    width: 100vw;
    height: 100vh;
}

header p{
    text-transform: uppercase;
    font-size: 35px;
    margin:15px auto;
}

