
/* 
*{
    font-family: 'Proza Libre', sans-serif;
} */
img.logo{
height: 60px;
width:auto;
}

span.rock{
    color: black;
    font-family: 'Cairo', sans-serif;
}

.red {
    color:red !important;
}