.rock{
    text-transform: uppercase !important;
    font-weight: bold !important;
    color:white !important;
}

div.sliderImage{
    max-height: 85vh;
    overflow: hidden;
}

h1, h2{
    font-size: 30px;

}

h2{
    text-transform: uppercase;
    /* margin-bottom: 20vh; */
}