
.row{
    background-color: rgb(49, 47, 47);
    border-bottom: 1px dotted rgb(220, 53, 69);
}

.row:nth-last-of-type(1){
    border-bottom: none;
}
 
.photo{
    margin: 35px auto;
    width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

  .img-responsible{
      max-height:80vh;
      max-width: auto;
  }

.caption p{
    color: black;
    font-weight: bold;    
}

 img.trainer{
     width: 100%;
     border: 10px solid white;
   transition: 3000;
   overflow: hidden;
    }

div.description {
    display: inline-block;
    text-align: justify;
}

p.italic{
    font-style: italic;   
}

